.container-chat {
    position: fixed;
    z-index: 9999;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container-icon {
    display: flex;
    align-items: center;
    background-color: #CC3E00;
    border-radius: 60px;
    padding: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 60px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-text-icon {
    opacity: 0;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0;
    transition: all 0.4s ease;
}

.container-icon:hover .container-text-icon {
    opacity: 1;
    max-width: 200px;
    margin-left: 20px;
    animation: fadeInSlideRight 0.3s ease-out forwards;
}

@keyframes fadeInSlideRight {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.container-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
}

.container-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
    padding: 0 0 0 42px;
    border-radius: 60px;
    justify-content: space-between;
    max-width: 347px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    animation: fadeInItem 0.3s forwards;
    opacity: 0;
    transform: translateY(10px);
}

.container-item:hover {
    transform: translateY(0px) scale(1.02);
}

.container-item img.icon {
    margin-right: 10px;
    flex-shrink: 0;
}

.container-item div {
    display: flex;
    flex-direction: column;
}

.title,
.title-item {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Gilroy Light', sans-serif;
    margin: 0;
}

.text,
.text-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    font-family: 'Gilroy Light', sans-serif;
    margin: 0;
}

.title-item,
.text-item {
    text-align: right;
}

/* Animación para los ítems */
@keyframes fadeInItem {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 40em) {
    .hidden-mobile {
        display: none;
    }
}

@media screen and (min-width: 64em) {
    .container-item {
        max-width: 417px;
    }

    .container-item-text {
        width: 300px;
    }
}